<div id="cadastro" >
    <div id="cadastro-caixa" >
        <form id="cadastro-formulario" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
        <div class="cadastro-form-campo" >
            Usuario:
            <input type="text" formControlName="username">
        </div>
        <div class="cadastro-form-campo" >
            Email:
            <input type="text" formControlName="email">
        </div>
        <div class="cadastro-form-campo" >
            Senha:
            <input type="password" formControlName="password">
        </div>
        
        <button id="cadastrar" type="submit" [disabled]="!profileForm.valid">Cadastrar</button>
            
        </form>
        <button id="logar" [routerLink]="['']" >logar</button>
        <div id="mensagem">{{mensagem}}</div>
    </div>
</div>