#loja-lista{
    width: 200px;
    height: 500px;
    background-color: chartreuse;
    float: left;
}

#loja-lista ul{
    list-style: None;
    margin: 0;
    padding: 0;
    height: 450px;
    width: 200px;
    overflow: scroll;
}

#loja-lista ul li{
    height: 60px;
    background-color: chocolate;
}