<div id="login" >
    <div id="login-caixa" >
<form id="login-formulario" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

  <div class="login-form-campo" >
      Usuario:
      <input type="text" formControlName="username">
  </div>
  <div class="login-form-campo" >
      Senha:
      <input type="text" formControlName="password">
  </div>
  
  <button type="submit" [disabled]="!profileForm.valid">Logar</button>
  
</form>

<button id="botao-cadastrar" [routerLink]="['/cadastro']" >cadastro</button>
</div>
</div>