form{
    width: 250px;
    background-color:aqua;
    padding: 10px;
}
label{
    margin-left: 20px;
}
input{
    margin-left: 10px;
}
button{
    margin:10px;
}
ul{
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
}
li{
    width: 200px;
    height: 20px;
    background-color: aqua;
    padding: 0;
    margin: 0;
}
li div{
    float: left;
    margin-left: 5px;
    background-color:darkorange;
}