
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

  <label>
      Street:
      <input type="text" formControlName="first_name">
  </label>
          
  <label>
      City:
      <input type="text" formControlName="last_name">
  </label>
  
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    
</form>

<button (click)="listar()">Update Profile</button>

<ul id="posicao_vilao" >
    <li *ngFor="let usuario of listaUsuarios" >
        <div>{{usuario.first_name}}</div>
        <div>{{usuario.last_name}}</div>
        <div (click)="deletar(usuario.id)" >X</div>
    </li>
</ul>
